<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
      	   http://www.springframework.org/schema/tx 
      	   http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
      	   http://www.springframework.org/schema/context
      	   http://www.springframework.org/schema/context/spring-context-4.0.xsd
      	   http://www.springframework.org/schema/mvc
      	   http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
      	   http://www.springframework.org/schema/aop 
      	   http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
      	   http://www.springframework.org/schema/util
      	   http://www.springframework.org/schema/util/spring-util-4.0.xsd
      	   http://www.springframework.org/schema/task
      	   http://www.springframework.org/schema/task/spring-task-4.0.xsd">
	
	<!-- 配置自动扫描 -->
	<context:component-scan base-package="rabbit.open,sharding.test.table" />
	<aop:aspectj-autoproxy proxy-target-class="true" />

	<task:annotation-driven/>
	
	<!-- 配置 数据库属性文件 -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath*:jdbc.properties</value>
			</list>
		</property>
	</bean>
	
 	<!-- 配置数据源 -->
 
	<bean id="rabbit" class="rabbit.open.orm.pool.jpa.RabbitDataSource">
		<property name="driverClass">
			<value>${jdbc.driverName}</value>
		</property>
		<property name="url">
			<value>${jdbc.url}</value>
		</property>
		<property name="username">
			<value>${jdbc.username}</value>
		</property>
		<property name="password">
			<value>${jdbc.password}</value>
		</property>
		<property name="maxSize">
			<value>${jdbc.maxSize}</value>
		</property>
		<property name="minSize">
			<value>${jdbc.minSize}</value>
		</property>
		<property name="maxIdle">
			<value>${jdbc.maxIdle}</value>
		</property>
		<property name="maxCachedStmt">
			<value>1000</value>
		</property>
	</bean> 

	
	<!-- dbcp数据源 -->
<!-- 
 	<bean id="dbcp" class="org.apache.commons.dbcp2.BasicDataSource"  
        destroy-method="close">  
        <property name="driverClassName" value="${jdbc.driverName}" />  
	    <property name="url" value="${jdbc.url}" />  
	    <property name="username" value="${jdbc.username}" />  
	    <property name="password" value="${jdbc.password}" />  
	    <property name="initialSize" value="${jdbc.minSize}" />  
	    <property name="minIdle" value="${jdbc.minSize}" />  
	    <property name="maxConnLifetimeMillis" value="60000" />  
	    <property name="poolPreparedStatements" value="true" />  
	    <property name="maxIdle" value="${jdbc.minSize}" />  
	    <property name="maxTotal" value="${jdbc.maxSize}" />  
    </bean>   
 -->
	
    <!-- c3p0数据源 -->
<!--     
     <bean id="c3p0" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">    
        <property name="driverClass" value="${jdbc.driverName}"/>    
        <property name="jdbcUrl" value="${jdbc.url}"/>    
        <property name="user" value="${jdbc.username}"/>    
        <property name="password" value="${jdbc.password}"/> 
        <property name="minPoolSize" value="${jdbc.minSize}"/>    
        <property name="maxPoolSize" value="${jdbc.maxSize}"/>    
        <property name="initialPoolSize" value="${jdbc.minSize}"/>    
        <property name="maxIdleTime" value="60"/>    
        <property name="maxStatements" value="1000"/>    
        <property name="idleConnectionTestPeriod" value="60"/>    
    </bean>  
-->
    
    <!-- hikari数据源 -->
 <!-- 
    <bean id="hikari" class="com.zaxxer.hikari.HikariDataSource"
        destroy-method="shutdown">
        <property name="driverClassName" value="${jdbc.driverName}" />
        <property name="jdbcUrl" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
        <property name="readOnly" value="false" />
        <property name="connectionTimeout" value="30000" />
        <property name="idleTimeout" value="600000" />
        <property name="maxLifetime" value="1800000" />
        <property name="maximumPoolSize" value="${jdbc.maxSize}" />
        <property name="minimumIdle" value="${jdbc.minSize}" />
    </bean> 
     -->
	
	<!-- 配置SessionFactory -->
	<bean id="sessionFactory" class="rabbit.open.orm.pool.SessionFactory">
		<property name="showSql">
			<value>${jdbc.showSql}</value>
		</property>
		<property name="formatSql">
			<value>${jdbc.formatSql}</value>
		</property>
		<property name="ddl">
			<value>${jdbc.ddl}</value>
		</property>
		<property name="dialect">
			<value>${jdbc.dialect}</value>
		</property>
		<property name="packages2Scan">
			<value>${jdbc.packages}</value>
		</property>
		<property name="mappingFiles">
			<value>${jdbc.mappingFiles}</value>
		</property>
		<property name="dataSource" ref="rabbit" />
	</bean>

    <bean id="transactionManager" class="rabbit.open.orm.spring.RabbitTransactionManager">  
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>  
      
    <!-- 开启事务控制的注解支持 -->  
    <tx:annotation-driven transaction-manager="transactionManager"/>
</beans>	


