<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mybatis.test.dao.UserDao">

    <resultMap id="UserResultMap" type="com.mybatis.test.entity.User">
        <id column="ID" property="id" jdbcType="BIGINT" />
        <result column="NAME" property="name" jdbcType="VARCHAR" />
        <result column="AGE" property="age" jdbcType="BIGINT" />
        <result column="BIRTH_DAY" property="birth" jdbcType="TIMESTAMP" />
        <association property="org" column="ORG_ID" select="com.mybatis.test.dao.OrganizationDao.getById">
        </association>
    </resultMap>

    <resultMap id="U2ResultMap" type="com.mybatis.test.entity.User">
        <id column="ID" property="id" jdbcType="BIGINT" />
        <result column="NAME" property="name" jdbcType="VARCHAR" />
        <result column="AGE" property="age" jdbcType="BIGINT" />
        <result column="BIRTH_DAY" property="birth" jdbcType="TIMESTAMP" />
        <association property="org" column="ORG_ID" resultMap="OrganizationResultMap"  columnPrefix="org_">
        </association>
    </resultMap>
    
    <resultMap id="OrganizationResultMap" type="com.mybatis.test.entity.Organization">
        <id column="ID" property="id" jdbcType="BIGINT" />
        <result column="NAME" property="name" jdbcType="VARCHAR" />
        <result column="ORG_CODE" property="orgCode" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getUserById" resultMap="UserResultMap">
        SELECT
        *
        FROM t_user WHERE
        id=#{id,jdbcType=BIGINT}
    </select>

    <select id="getUserByIdJoin" resultMap="U2ResultMap">
        SELECT 
        a.id as id, a.name as name, a.age as age, a.BIRTH_DAY as birth,
        b.id as org_id,
        b.name as org_name,
        b.org_code as org_orgCode
        from t_user a inner join t_org b
        on a.org_id = b.id
        where a.id=#{id,jdbcType=BIGINT}
    </select>

	<insert id="add">
		insert into t_user(name, age) values('zhangsan', '10')
	
	</insert>

	<select id="count" resultType="Integer">
		select count(1) from t_user
	</select>
	
	<delete id="clear">
		delete from t_user
	
	</delete>
	
</mapper>
